{% include html-begin.liquid %}
{% include page-header.liquid %}

    <section id="appContent" role="main">

        <h1>{{ page.category }}</h1>

        <ul>
            {% for post in site.posts %}
                {% if post.categories contains page.category %}
                    <li>
                        {% include modules/post-summary.liquid %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

    </section>

{% include page-footer.liquid %}
{% include html-end.liquid %}
